<html>
  <header>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="/static/index.css" rel="stylesheet">
      <title>Inicio</title>
  </header>
  <body>
      <div class="container-fluid">
          <div class="row">
            <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Subir archivo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Logs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Mi cuenta</a>
                </li>
              </ul>
            </nav>
    
            <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et tortor eget augue tincidunt molestie vitae tempor metus. Nunc tempus urna massa, eu viverra nisl varius in. Integer ultricies metus augue, ac imperdiet tortor placerat in. Praesent ut dapibus leo, non ultrices nisi. Etiam elementum, nisi et molestie aliquet, risus magna vestibulum enim, a ullamcorper risus tortor quis arcu. In fringilla purus ut metus bibendum auctor. Quisque fermentum nibh ut aliquet malesuada. Sed sem sapien, mollis ut auctor id, congue sed est.

                Donec quis urna tortor. Phasellus dictum euismod est ac egestas. Nullam eget felis vitae dui varius finibus. Nunc pulvinar nulla mattis augue vehicula congue. Praesent tempus ante dolor, vel ullamcorper ligula condimentum ut. Phasellus nec quam eget ligula dictum sodales eget vel risus. Proin ac arcu ligula. Nullam mi leo, euismod vel mauris eu, pretium imperdiet quam. Vivamus venenatis eros vitae aliquet consequat. Etiam vel magna nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse eleifend, purus sed pretium tempus, turpis lectus sollicitudin lacus, sit amet tincidunt ipsum dui vel eros. Etiam risus nisi, auctor et ipsum iaculis, sollicitudin aliquam lorem. Suspendisse laoreet sollicitudin mattis. Vivamus quis lorem ac mi egestas pellentesque.
                
                Ut turpis lorem, bibendum vitae eros ac, lacinia sodales sem. Vestibulum vestibulum ipsum tortor, eu commodo dui congue at. Nunc in ligula mauris. Suspendisse consectetur mollis enim. Phasellus nunc nibh, auctor non neque ultrices, pretium cursus turpis. Morbi sed convallis felis, scelerisque consectetur est. Phasellus eu est dictum, porta quam id, auctor lacus. Cras sed eros finibus, porttitor nulla mattis, scelerisque mauris. Phasellus mollis lacus leo, ut pharetra ipsum sagittis non. Donec rutrum nunc eget lectus rutrum, et iaculis turpis varius. Nulla vel sapien nec arcu lobortis vestibulum. Nulla nec pulvinar enim. Nulla efficitur lectus et efficitur lacinia. Donec mollis et justo vitae luctus.
                
                Proin id faucibus odio. Cras eu efficitur ante. Sed tincidunt ligula eget enim viverra, sit amet venenatis quam posuere. Praesent et rutrum nunc, a tempus metus. In tincidunt, felis non molestie lobortis, orci ante malesuada ex, non congue tellus lectus aliquam neque. Nam a lobortis tellus, sit amet tincidunt libero. Suspendisse efficitur justo lacus, vitae varius lectus auctor quis. Aenean et elit sed ex scelerisque suscipit eget vel sapien. Praesent pretium vestibulum arcu at gravida. Maecenas luctus massa eget turpis varius, sed pretium urna congue. Nam quis dictum sem. Etiam finibus massa sit amet felis tempus, ac fermentum odio vestibulum. Duis neque ipsum, egestas non massa et, accumsan interdum ligula. Aliquam ac odio quis ipsum semper ornare. Ut ut massa ut purus sollicitudin aliquam.
                
                Integer elementum, lectus vitae blandit finibus, neque quam hendrerit nibh, quis tincidunt odio dolor convallis ante. Sed iaculis suscipit dapibus. Nam lacinia nibh tellus, in finibus enim consectetur ac. Donec congue dui ac accumsan pharetra. Proin in fringilla dolor. Nunc sit amet facilisis risus. Etiam molestie, orci sed scelerisque lobortis, massa quam pulvinar massa, ut lobortis nibh eros in nunc.
                
                Duis dapibus, odio aliquam egestas posuere, massa nibh ultricies nisl, a sollicitudin nulla diam et lacus. Phasellus id molestie enim. Curabitur eu tortor sit amet urna efficitur vestibulum. Duis ipsum sem, scelerisque sit amet justo non, convallis varius sem. Phasellus non nulla sem. Ut nisi diam, posuere semper orci a, bibendum imperdiet massa. Quisque vitae neque ut nibh venenatis eleifend iaculis at orci. Vestibulum leo leo, condimentum sed pretium vel, vulputate sed elit.
                
                Pellentesque pharetra sapien vel elit ultrices eleifend. Aenean sagittis eros vitae pellentesque auctor. Proin eu elit odio. Ut ullamcorper, sem imperdiet feugiat tristique, mauris ligula auctor ante, semper rhoncus massa nulla tincidunt lectus. Maecenas viverra ullamcorper pellentesque. Aliquam erat volutpat. Cras lacinia tristique velit, eu consectetur est posuere vel.
                
                Etiam aliquet ex lobortis justo interdum, ac gravida magna lobortis. Pellentesque elementum, nulla vitae rhoncus faucibus, eros purus dapibus lectus, quis rhoncus nisi turpis vitae mi. Sed eu blandit sem, vitae viverra quam. Suspendisse consequat dui vel neque posuere, vitae dictum nunc congue. Maecenas consequat cursus est sed hendrerit. Maecenas sagittis magna sed erat maximus ullamcorper. Morbi at lacinia purus, at lobortis mi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam tincidunt, justo non mollis iaculis, sem diam lobortis risus, non sagittis tortor lorem at purus.
                
                Aliquam erat volutpat. Suspendisse eget orci turpis. Integer ultrices sagittis tellus scelerisque pretium. Quisque lacinia nulla ex, vitae blandit turpis volutpat nec. Sed in sapien pellentesque, feugiat tellus dapibus, dignissim leo. Etiam ac ante pretium, ullamcorper ligula eu, mattis leo. Vivamus congue at odio porta porttitor. Phasellus aliquam dolor ac egestas venenatis. Vivamus ullamcorper elit id feugiat consequat. Cras nec sem bibendum, venenatis tellus et, pellentesque odio. Suspendisse potenti. Mauris lorem lorem, sodales eget blandit vitae, convallis ac magna. Mauris pretium diam risus, vitae porta nunc ultrices a.
                
                Fusce vitae orci dolor. Nunc mi enim, pellentesque ac tellus sit amet, aliquet mattis nibh. Integer efficitur placerat eros, sit amet congue mauris dignissim at. Quisque aliquam, orci id congue faucibus, sapien libero volutpat dui, eget vestibulum nisl dui ullamcorper libero. Sed iaculis semper nisl. Duis dictum risus metus, sed lobortis sapien sodales sed. Quisque lacinia convallis augue congue pulvinar. Quisque at tempor elit.
                
                Nam rutrum, nunc eu tristique porttitor, nulla libero cursus tellus, id pulvinar nibh eros eu justo. Vivamus sagittis in nisi eu ultrices. Pellentesque pulvinar diam nec metus vehicula vulputate. Pellentesque hendrerit quis leo nec luctus. Nulla purus diam, ultricies luctus ipsum eu, tincidunt condimentum leo. Nam auctor arcu risus. Integer ultricies felis vel nibh auctor, ac gravida ligula viverra.
                
                Suspendisse eu iaculis nunc. Vestibulum commodo lorem metus, et tincidunt elit tempor gravida. Sed sed ante quam. Donec suscipit quis dui eu euismod. Curabitur rhoncus ultricies enim at fringilla. Nulla facilisi. Donec rhoncus lectus ac dui accumsan volutpat. Mauris ut eros ut enim accumsan laoreet non non neque. Nam id sagittis ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed sit amet placerat lacus. Fusce tempus nisi ac enim hendrerit ultricies. Aenean hendrerit sapien feugiat, tristique sem at, interdum nunc. Proin dapibus velit et augue dignissim, quis sodales nulla lobortis.
                
                Mauris maximus tempor arcu, efficitur elementum dui accumsan sit amet. Sed feugiat ante a nisi volutpat lobortis. In ut tellus a velit varius vehicula sed quis eros. Vivamus id condimentum mi, eget ultrices tortor. Curabitur lacus tellus, iaculis vitae tortor a, fermentum imperdiet nisi. Quisque eleifend massa et quam tempor tincidunt. Proin auctor auctor molestie. Etiam ornare sem ac mi pharetra efficitur.
                
                Proin vitae metus et sapien imperdiet viverra. Curabitur ut risus at mauris blandit sagittis. Integer volutpat eget enim vel lacinia. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sem sapien, rutrum at libero vitae, convallis hendrerit tortor. Morbi at dignissim sem, ut maximus massa. Etiam laoreet tincidunt egestas. Maecenas mattis viverra ullamcorper. Mauris laoreet, nisi in maximus interdum, ligula augue lacinia elit, non condimentum nunc orci varius urna. Curabitur sit amet tellus commodo, vehicula purus vel, dictum urna.
                
                Maecenas consectetur id felis sed convallis. Phasellus pharetra odio in tristique commodo. Donec blandit sapien a arcu maximus malesuada. Donec consequat purus quis molestie hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod turpis nec lorem consequat lobortis. Pellentesque ut nulla non lacus mollis commodo. Pellentesque vel vestibulum lorem. Nam tempus feugiat nisi, in bibendum felis facilisis eu. Proin imperdiet est mollis, dapibus quam et, auctor neque. In quis lacus eu justo euismod vulputate. Vivamus odio magna, tempus sed lobortis sit amet, sollicitudin in nisl. Fusce tincidunt metus ex, et ultrices ante placerat in. Sed vulputate nibh et dignissim mattis. Nullam at finibus risus.
            </main>
          </div>
        </div>
  </body>
</html>